<a href="https://colab.research.google.com/github/AbhiKr321/PW_Assignment/blob/main/16_Feb_AssQ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. What is a database? Differentiate between SQL and NoSQL databases.
- *A database is an organized collection of data, so that it can be easily accessed and managed.*

- SQL databases are vertically scalable, while NoSQL databases are horizontally scalable. SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores. SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
- Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.
- CREATE, DROP, ALTER, and TRUNCATE are SQL commands used for managing database objects. Here's an explanation of what each command does with an example:

In [ ]:
# The CREATE command is used to create new database objects such as tables, indexes, and views.
CREATE TABLE customers (
  customer_id INT PRIMARY KEY,
  first_name VARCHAR(50),
  last_name VARCHAR(50),
  email VARCHAR(100),
  address VARCHAR(200)
);

# The DROP command is used to delete an existing database object such as a table, index, or view. 
DROP TABLE customers;

# The ALTER command is used to modify the structure of an existing database object.
ALTER TABLE customers
ADD phone VARCHAR(20);

# The TRUNCATE command is used to remove all data from an existing table without deleting the table structure.
TRUNCATE TABLE customers;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
- DML stands for Data Manipulation Language, which is a subset of SQL that is used to manipulate data in a database. DML commands are used to insert, update, and delete data in database tables.

In [ ]:
# The INSERT command is used to add new rows of data to a table.
INSERT INTO employees (employee_id, first_name, last_name, salary)
VALUES (1001, 'John', 'Doe', 50000);

# The UPDATE command is used to modify existing rows of data in a table. 
UPDATE employees
SET salary = 55000
WHERE employee_id = 1001;

# The DELETE command is used to remove existing rows of data from a table.
DELETE FROM employees
WHERE employee_id = 1001;

Q4. What is DQL? Explain SELECT with an example.
- DQL stands for Data Query Language, which is a subset of SQL that is used to query and retrieve data from a database. DQL commands are used to retrieve data from database tables.

In [ ]:
# The SELECT command is used to retrieve data from one or more tables in a database.
SELECT employee_id, first_name, last_name, salary FROM employees;

Q5. Explain Primary Key and Foreign Key.
- Primary Key: A primary key is a column or set of columns in a table that uniquely identifies each row in the table. A primary key must be unique and not null for each row. It's used to ensure data integrity, as it prevents duplicate or null values from being inserted into the table. Typically, a primary key is defined when a table is created and can be used to relate tables to each other.
 
- Foreign Key: A foreign key is a column or set of columns in a table that refers to the primary key of another table. It's used to establish a relationship between two tables in a database. A foreign key ensures referential integrity, as it ensures that the values in the referencing table match the values in the referenced table.

In [ ]:
CREATE TABLE customers (
    customer_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    email VARCHAR(100)
);

CREATE TABLE orders (
    order_id INT PRIMARY KEY,
    customer_id INT,
    order_date DATE,
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
);

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

- In code block there is Python code to connect to MySQL using the mysql-connector package:

- In the below code, the mysql-connector package is used to establish a connection to a MySQL database server. The connect() method takes four arguments: the hostname, username, password, and database name.

- Once a connection is established, a cursor object is created using the cursor() method of the connection object. The cursor object is used to execute SQL queries and fetch results from the database.

- The execute() method of the cursor object is used to execute a SQL query. In this example, the query is "SELECT * FROM customers", which selects all rows from the "customers" table.

- The fetchall() method is used to retrieve all the results of the query, and the results are printed using a for loop.

Q7. Give the order of execution of SQL clauses in an SQL query.
FROM clause: This clause specifies the table or tables from which data is to be retrieved.

- WHERE clause: This clause is used to filter the data based on specific 
conditions. Only rows that meet the conditions specified in the WHERE clause are included in the result set.

- GROUP BY clause: This clause is used to group rows that have the same values for one or more columns. Aggregate functions such as SUM, COUNT, AVG, etc. can be applied to the grouped rows.

- HAVING clause: This clause is used to filter the groups based on specific conditions. Only groups that meet the conditions specified in the HAVING clause are included in the result set.

- SELECT clause: This clause is used to specify the columns to be included in the result set.

- ORDER BY clause: This clause is used to sort the result set by one or more columns.

- LIMIT clause: This clause is used to limit the number of rows returned by the query.